
                <!-- LOGO -->
                <div class="branding">
                    <h1 class="logo">
                      MATTERMOST </p>
                        <a href="https://integrations.mattermost.com">
                            {% include icon.html icon=site.branding.icon %}
                            <span class="text-highlight">{{ site.branding.highlight }}</span>
                          </p>
                            <span class="text-bold">{{ site.branding.bold }}</span>
                        </a>
                    </h1>
                </div>
