---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>

    <title>{{ site.title }} &bull; {{ page.title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.owner.name }}">
    <link rel="canonical" href="{{ site.url | append: site.baseurl | append: page.url }}" />
    <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico'                                        | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <!-- Global CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/plugins/bootstrap/css/bootstrap.min.css'      | prepend: site.baseurl }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/plugins/font-awesome/css/font-awesome.css'    | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/plugins/elegant_font/css/style.css'           | prepend: site.baseurl }}">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/highlight.css'                            | prepend: site.baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/styles.css'                               | prepend: site.baseurl }}" id="theme-style">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include open_graph.html %}
    {% include twitter_cards.html %}

    {% include google_analytics.html %}

    {% include custom_head.html %}

</head>

<body class="landing-page">



    <div class="page-wrapper">

        <!-- HEADER -->
        <header class="header text-left">
            <div class="container">

                {% include branding.html %}

                <!-- TAGLINE -->
                <div class="tagline">
                    {{ page.tagline | markdownify }}
                </div>

                <!-- SOCIAL -->
                <div class="social-container">
              
                  {% if site.share.github %}
                    {% include github_forkme.html %}
                  {% endif %}
                 </div>

            </div>
        </header>

        <section class="cards-section text-left">
            <div class="container">

                <h2 class="title">{{ page.heading }}</h2>

				<!-- INTRO -->
                <div class="intro">{{ content }}</div>

                {% include navigation.html navigation=page.navigation %}

            </div>
        </section>

    </div>

    {% include footer.html %}

    <!-- Main Javascript -->
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-1.12.3.min.js'                          | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/bootstrap/js/bootstrap.min.js'                 | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/plugins/jquery-match-height/jquery.matchHeight-min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/main.js'                                            | prepend: site.baseurl }}"></script>


	
	<!-- Pendo -->
	
	<script>
(function(apiKey){
    (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=[];
    v=['initialize','identify','updateOptions','pageLoad'];for(w=0,x=v.length;w<x;++w)(function(m){
        o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
        y=e.createElement(n);y.async=!0;y.src='https://cdn.pendo.io/agent/static/'+apiKey+'/pendo.js';
        z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');

        // Call this whenever information about your visitors becomes available
        // Please use Strings, Numbers, or Bools for value types.
        pendo.initialize({
            visitor: {
                id:              'VISITOR-UNIQUE-ID'   // Required if user is logged in
                // email:        // Recommended if using Pendo Feedback, or NPS Email
                // full_name:    // Recommended if using Pendo Feedback
                // role:         // Optional

                // You can add any additional visitor level key-values here,
                // as long as it's not one of the above reserved names.
            },

            account: {
                id:           'ACCOUNT-UNIQUE-ID' // Highly recommended
                // name:         // Optional
                // is_paying:    // Recommended if using Pendo Feedback
                // monthly_value:// Recommended if using Pendo Feedback
                // planLevel:    // Optional
                // planPrice:    // Optional
                // creationDate: // Optional

                // You can add any additional account level key-values here,
                // as long as it's not one of the above reserved names.
            }
        });
})('4d354bde-8c88-4304-4dda-6034804637fb');
</script>
	
	
	
	
</body>
</html>
